
<% if current_user %>
<%= link_to "New Question", new_question_path %>

<h2>Questions</h2>
<ul>
  <% @questions.each do |question| %>
    <li><%= link_to question.inquiry, question %></li>
  <% end %>
</ul>
<% end %>
