<% title(@question.inquiry, "Questions") %>

<h2><%= @question.inquiry %></h2>

<%= link_to "Edit Question", edit_question_path(@question) %>
<%= link_to "Delete Question", question_path(@question),
                               :method => :delete,
                               :confirm => "Are you sure you want to delete this question?" %>
